<div class="" style="">

	<br/><br/>
	<h1>SIMPLE TODO LISTS</h1>
	<h2>FROM RUBY GARAGE</h2>
	<br/> <br/>
		Please migrate and seed db. <br/>
	<br/>
		Ordinary user only have access to  own projects. <br/>
		Admin user have access to any projects. <br/>
	<br/>
	To enable/disable AJAX press button on navigation bar.<br/>

	<div class="text-center">
		<%= link_to "TODO LISTS", projects_path,  class: "btn btn-lg border rounded-pill bg-info" %>
	</div>
</div>
