<button id='load'>load</button>
<div id="show_div">
<div>

<script>
$(document).ready(function(){
  $("button#load").click(function(){
    $.ajax({
			url: '<%= public_send("#{@model.instance_name}_url", @instance, format: :json) %>',
			dataType: "json",
			success: function(result, textStatus){
      	$content = $("<div></div>");
				data = result.data;
				$.each(data, function(i, val) {
          $content.append('<strong>' + i + '</strong>: ' + val + '<br/>');
        });
				$("div#show_div").html($content);
    	}
		});
  });
});
</script>
