<%= render 'standard/show_parent' if @parent_instance %>
<h2><%= @model.instance_rendering_name %></h2>
<% container_id = !!@parent_instance ? 'card_' + [@parent_instance&.class&.instance_name, @parent_instance&.id, @model.collection_name].compact.join('_') : nil %>
<%= render 'form', model: @model, instance: @instance, parent_instance: @parent_instance, remote: @remote %>

<div id="flash_container" class="container">
	<%= render "standard/flash.html" %>
</div>
