
<% container_id = !!@parent_instance ? 'card_' + [@parent_instance&.class&.instance_name, @parent_instance&.id, @model.collection_name].compact.join('_') : nil %>
<%= render 'form', model: @model, instance: @instance, parent_instance: @parent_instance, remote: @remote %>
<div>
	<%= link_to 'Show', [@parent_instance, @instance], remote: @remote, class:  'btn btn-sm btn-info', target_container: container_id %>
	<%= link_to 'List', [@parent_instance, @model.collection_name], remote: @remote,  class:  'btn btn-sm btn-info', target_container: container_id  %>
</div>
<div id="flash_container" class="container">
	<%= render "standard/flash.html" %>
</div>
