
<% if collection_total_entries != 0 %>
	<table class="table table-sm table-hover table-bordered table-fixed">


	  <tbody>
	    <%   collection.each do |record| %>
	      <tr>
					<%= render('instance', layout: false, status: 200, model: model, instance: record, parent_instance: parent_instance, remote: remote) %>
	      </tr>
				<br/>
	    <% end %>
	  </tbody>
	</table>
<% end %>
<div class='bg-secondary text-white'>Total: <%= pluralize collection_total_entries, model.instance_rendering_name  %> </div>
