
<h1><%= @model.collection_rendering_name %></h1>
<% container_id = [@parent_instance&.class&.name, @parent_instance&.id, @model.collection_name].compact.join('_') %>
<div id='<%= container_id %>' class='container' >
	<%= render 'index_table', collection: @collection, model: @model, parent_instance: @parent_instance, collection_total_count: @collection_total_count, remote: @remote,  container_id: container_id, as: :collection %>
</div>
<br>
<div class="text-center">
	<%= link_to "Add #{@model.instance_rendering_name}", [:new, @parent_instance, @model.instance_name], remote: @remote, class:  "btn btn-info text-white" %>
</div>
