<button id='load'>reload</button>
<div id="show_div"> Loading . . . </div>

<script>
// ---------------------------------------------------------------------------
$(document).ready(function(){
	container_selector = "div#show_div";
	url = '<%= public_send("#{@model.collection_name}_url",  format: :json) %>';
  $("button#load").click(function() { get_projects(url, container_selector);});
	get_projects(url, container_selector);
});
// ---------------------------------------------------------------------------
function get_project(url, container_selector){
	$.ajax({
		url: url,
		dataType: "json",
		success:
			function(response, status, xhr){
				render_projects(response, container_selector);
				render_response_status(response, xhr);
			}
	});
}
// ---------------------------------------------------------------------------
function get_projects(url, container_selector){
	$.ajax({
		url: url,
		dataType: "json",
		success:
			function(response, status, xhr){
				render_projects(response, container_selector);
				render_response_status(response, xhr);
			}
	});
}
// ---------------------------------------------------------------------------
function render_project(obj, container_selector) {
	val = obj;
	project_id = 'project_' + val.id
	project = $('<div id="' + project_id + '" class="border project"></div>');
	project_title = $('<div class="border bg-info field"></div>');
	project_title.append('<strong>' + val.id + '</strong>: ' + val.name + ' : ' + val.author_email + '');
	project_refresh_link = $('<a href="#" click>refresh</a>');
	project_refresh_link.click(function(){ get_project(val.url, project_id);});
	project_title.append(project_refresh_link);
	project.append(project_title);
	new_task = $('<div id="add_task_'+ val.id +'" class="border new_task"></div>');
	new_task_form = $('<form action="/projects/' + val.id + '/tasks.json" method="post" class="border " data-remote="true"></form>');
	new_task_form.append('<input type="hidden" name="authenticity_token" value="' + document.getElementsByName('csrf-token')[0].content + '">');
	new_task_form_row = $('<div class="border field row"></div>');
	new_task_form_row.append('<input class="" type="text" name="task[name]" id="task_name">');
	new_task_form_row.append('<button type="submit" id="add_task_'+ val.id +'" class= "btn btn-sm" data-disable-with="Create Project">Add Task</button>');
	new_task_form.append(new_task_form_row);
	new_task.append(new_task_form);
	project.append(new_task);
	tasks = $('<div class="border task"></div>');
	$.each(val.tasks, function(k, v) {
		tasks.append('<div class="border field"><strong>' + v.name + '</strong>: ' + v.priority + '<br/></div>');
	});
	project.append(tasks);
}
// ---------------------------------------------------------------------------
function render_projects(result, container_selector){
	container = $(container_selector);
	if (container.length == 0) {
		alert('Uuups...');
		return false;
	} ;
	content = $("<div class=' '></div>");
	data = result.data;
	$.each(data, function(i, val) {
		render_project(val, 'div#project_' + val.id)
		content.append(project);
		content.append("<br/>");
	});
	container.html(content);
}




</script>
