<h1>New <%= @model.instance_rendering_name.capitalize %></h1>

<%= render 'form', model: @model, instance: @instance, parent_instance: @parent_instance, remote: @remote %>

<%= link_to "#{@model.collection_rendering_name}", [@parent_instance, @model.collection_name], remote: @remote, class: 'btn btn-info' %>
